.banner1 {
    background-image: url('../images/Frame\ 8.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 643px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: linear-gradient(270deg, #18303DF2, #E8A45C05);
}

.bannerheading {
    font-family: 'PT Serif', serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 112.99999999999999%;
    margin-bottom: 2rem;
    color: white;
}

.ribbon {
    /* top: 0;
    left: 0; */
    background-color: #18303D;
    color: #F5C390;
    padding: 10px 20px;
    font-family: 'Edu NSW ACT Cursive', cursive;
    font-weight: 600;
    font-size: 21.87px;
    z-index: 1;
    margin-bottom: 2rem;
    display: inline-block;
}

.orangebutton {
    background-color: #E8A45C;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    border-radius: 40px;
    width: 296px;
    line-height: 168%;
    letter-spacing: 4%;
}

.About_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 123px;
}

.orangetext {
    font-family: 'PT Serif', serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 112.99999999999999%;
    color: #E8A45C;
    margin-top: 40px;
}

.bluetext {
    font-family: 'PT Serif', serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 112.99999999999999%;
    color: #18303D;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 153%;
    color: #6B655E;
    margin-top: 80px;
}

.About_section .ribbon {
    width: 311px;
}

.About_section .orangebutton {
    width: 296px;
    margin-top: 40px;
}

.About_section .figure {
    margin-top: 50px;
}

.blue2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 112.99999999999999%;
    color: #18303D;
    margin-top: 40px;

}

.content {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    color: #6B655E;
}

.our_offerings {
    background-image: url('../images/beans.png');
    background-color: #18303D;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 923px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our_offerings .orangebutton {
    background-color: #FFFFFF33;
}

.our_offerings .orangebutton:hover {
    background-color: #E8A45C;
    color: #FFFFFF;
}

.offering {
    width: 214px;
    height: 324px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF1F;
    border-style: solid;
    border-color: #F5C390;
    border-width: 1px;
    border-radius: 22px;
}

.offering:hover {
    background-color: #d6a278;
}

.offering:hover h3,
.offering:hover h4 {
    color: white;
}

.offering h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #F5C390;
    line-height: 112.99999999999999%;
}

.offering h4 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #A2A2A2;
    margin-bottom: 20px;
    line-height: 150%;
}

.testimonials {
    width: 100%;
    height: auto;
    margin-top: 123px;
}

.banner2 {
    background-image: url('../images/Frame\ 30.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 670px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: linear-gradient(270deg, #18303DF2, #E8A45C05);
    padding-top: 11rem;
    margin-top: 10rem;
    padding-bottom: 2rem;
}

.footer {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5rem;
}

.footer-logo h3 {
    color: #E8A45C;
    font-family: 'Kameron', serif;
    font-size: 35.57px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4%;
    align-items: center;
    margin-top: 35px;
    margin-left: 20px;
}

a {
    color: #18303D;
    font-family: PT Sans, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 9%;
    text-decoration: none;
}

.footer-row h1 {
    font-family: Edu NSW ACT Cursive, cursive;
    font-size: 17px;
    font-weight: 700;
    line-height: 112.99999999999999%;
    color: #18303D;
    text-align: center;
}

.footer-row {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 112%;
    color: #18303D;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    padding: 0 0 0 0;
    margin-right: 0px;
    margin-left: 0px;
}

.footer-col {
    border: 1px solid #E8A45C;
    padding: 3rem;
}

.footer p {
    margin-top: 0px;
}

.header {
    /* height: 203px; */
    background-color: #18303D;
    padding: 2rem 2rem;

}

.header-logo h3 {
    color: #E8A45C;
    font-family: 'Kameron', serif;
    font-size: 33.45px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4%;
    align-items: center;
    margin-top: 18px;
    margin-left: 20px;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}

.header-row {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 4%;
    color: #A2A2A2;
    text-align: center;
    width: 50%;
    padding: 0 0 0 0;
    margin-right: 0px;
    margin-left: 0px;
}

.header-col {
    border: 1px solid #E8A45C;
    align-items: center;
    padding-top: 27px;
}

.header-row h1 {
    font-family: Edu NSW ACT Cursive, cursive;
    font-size: 22px;
    font-weight: 700;
    line-height: 112.99999999999999%;
    color: #E8A45C;
    text-align: center;
}

.header a {
    color: #E8A45C;
    font-family: PT Sans, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
}

hr {
    border: 1px solid #E8A45C;
    width: 100%;
    margin-top: 20px;
}

.contactbanner1 {
    background-image: url('../images/show\ a\ cafe\ blurred\ in\ background\,\ with\ focus\ on\ two\ coffee\ cups\ in\ the\ foreground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 545px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: linear-gradient(270deg, #18303DF2, #E8A45C05);
    align-items: center;
    padding: 15rem;
    font-family: Edu NSW ACT Cursive, cursive;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 4%;
    color: #E8A45C;
}

.gallerybanner1 {
    background-image: url('../images/Frame\ 30.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 545px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: linear-gradient(270deg, #18303DF2, #E8A45C05);
    align-items: center;
    padding: 13rem;
    font-family: Edu NSW ACT Cursive, cursive;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 4%;
    color: #E8A45C;
}

.menubanner1 {
    background-image: url('../images/Frame\ 32.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 545px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: linear-gradient(270deg, #18303DF2, #E8A45C05);
    align-items: center;
    padding: 13rem;
    font-family: Edu NSW ACT Cursive, cursive;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 4%;
    color: #E8A45C;
}

.aboutbanner1 {
    background-image: url('../images/Frame\ 31.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 545px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: linear-gradient(270deg, #18303DF2, #E8A45C05);
    align-items: center;
    padding: 13rem;
    font-family: Edu NSW ACT Cursive, cursive;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 4%;
    color: #E8A45C;
}

.gallery-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 900px;
}

.grid-item {
    border: 3px solid white;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Layout modifiers */
.grid-item.large {
    grid-column: span 1;
    grid-row: span 1;
    height: 200px;
}

.grid-item.tall {
    grid-column: span 1;
    grid-row: span 2;
    height: 420px;
}

.grid-item.small {
    grid-column: span 1;
    height: 200px;
}

.grid-item.wide {
    grid-column: span 3;
    height: 250px;
}

.FAQs {
    background-image: url('../images/beans.png');
    background-color: #18303D;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 923px;
}

details {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 2rem;
    color: #FFFFFF;
}

.answer {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

summary {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 150%;
    color: #FFFFFF;
    list-style: none;
    background-color: rgba(232, 164, 92, 0.77);
    padding: 1rem 12rem 1rem 1rem;
    border-radius: 25px;
    cursor: pointer;
}

.menubutton{
    font-family: PT Sans, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 168%;
    padding: 0.5rem 2rem ;
    border-radius: 42.68px;
}

.menubutton:hover {
    background-color: #E8A45C;
    color: #FFFFFF;
}

.menu {
  max-width: 1040px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.title-line {
  display: flex;
  align-items: center;
  width: 100%;
}

.title-line h3 {
  margin: 0;
  color: #18303D;
  font-weight: 700;
  white-space: nowrap;
  margin-right: 10px;
  font-family: PT Sans, sans-serif;
  font-size: 24px;
}

.line {
  flex-grow: 1;
  border-bottom: 1px dashed #E8A45C;
  margin: 0 10px;
  height: 0;
}

.price {
  color: #E8A45C;
  font-weight: 600;
  white-space: nowrap;
}

.menu-item p {
  margin: 5px 0 0;
  color: #666;
  font-size: 20px;
  font-family: PT Sans, sans-serif;
  font-weight: 400;
}

.addons-container {
  display: flex;
  background-color: #fef9f5;
  padding: 30px;
  max-width: 1040px;
  margin: auto;
  display: flex;
  justify-content: between;
  align-items: flex-start;
  gap: 100px;
  margin-top: 5rem;
}

.addons-left {
  width: 35%;
  padding-right: 30px;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.addons-left .icon {
  font-size: 28px;
  color: #E8A45C;
}

.addons-left h2 {
  font-size: 36px;
  color: #18303D;
  margin: 10px 0 5px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.addons-left p {
  font-size: 16px;
  font-family: Edu NSW ACT Cursive, cursive;
  color: #E8A45C;
  margin: 0 0 20px;
  font-weight: 600;
}

.addons-right {
  width: 65%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addon-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.name {
  white-space: nowrap;
  font-weight: 600;
  color: #18303D;
  font-family: PT Sans, sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.line {
  flex-grow: 1;
  border-bottom: 1px dotted #E8A45C;
  margin: 0 10px;
  height: 0;
}

.price {
  color: #E8A45C;
  font-weight: 600;
  white-space: nowrap;
}

.aboutus{
    margin-top: 10rem;
}

.about-right{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.about-right h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #18303D;
  margin-bottom: 10px;   
}

.about-right h4 {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #6B655E;
}

.ourstory {
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.image-text{
    margin-top: 3rem;
}

.image-text img {
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 20px;
}

.image-text p {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    color: #6B655E;
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.ourteam {
    margin-top: 10rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}

